*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
    transform: translateY(-80px);
}

table{
    border-collapse: collapse;
    width: 40%;
    font-size: 25px;
    text-align: center;
}

button{
    padding:3px 15px;
}